*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial,sans-serif;;
}

body{
    margin-left: 15vw;
}

header h1{
    position: absolute;
    top: 10vh;
}

header .capa{
    display: flex;
    cursor: pointer;
    justify-content: center;
}

header .capa img{
    border-radius: 10px;
}

.btn-link{
    position: absolute;
    top: 13vh;
    left: 38vw;
    text-decoration: none;
    border: 1px solid #227754;
    text-decoration: none;
    text-align: center;
    padding: 12px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    border-radius: 50px;
    background-color: #BEFCDE;
    color: #227754;
}
.btn-link:hover{
    box-shadow: 1px 1px 1px #227754;
}

.sobre{
    font-size: large;
}

.artista{
    position: absolute;
    top: 30vh;
    right: 10vw;
}

.artista a{
    text-decoration: none;
}

body .letras{
    position: absolute;
    margin-top: 75px;
    font-size: large;
}

.letra {
    margin-top: 90px;
    line-height: 20px;
    font-size: 14px;
}