*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial,sans-serif;
}

body{
    margin-left: 15vw;
}

.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vh 70vh 10;
    grid-template-areas: "h h"
                         "m a"
                         "f f";
}

header{
    grid-area: h;
}

main{
    grid-area: m;
}

aside{
    grid-area: a;
}

footer{
    grid-area: f;
}


header {
    display: grid;
    grid-template-columns: 23vw 80px 80px 1fr 3fr;
    grid-template-rows: 90px 40px 20px;
    grid-gap: 10px;
}

header .capa {
    grid-column: 4 / 5;
    display: block;
    cursor: pointer;
    margin-top: 2px;
    justify-content: center;
}

header .capa img{
    border-radius: 10px;
}

.cancao {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.titulo-da-musica {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.botao-ouvir{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-decoration: none;
    border: 1px solid #227754;
    text-align: center;
    padding: 12px 20px;
    font-family: Google Sans, arial, sans-serif;
    font-size: 14px;
    border-radius: 100px;
    background-color: #BEFCDE;
    color: #227754;
    max-height: 120px;;
}
.botao-ouvir:hover{
    box-shadow: 1px 1px 1px #227754;
}

.botao-letras{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    text-decoration: none;
    border: 1px solid #227754;
    text-align: center;
    padding: 12px 20px;
    font-family: Google Sans, arial, sans-serif;
    font-size: 14px;
    border-radius: 100px;
    background-color: #BEFCDE;
    color: #227754;
}
.botao-letras:hover{
    box-shadow: 1px 1px 1px #227754;
}

.sobre{
    font-size: large;
}

.artista a{
    text-decoration: none;
}

body .titulo-letras {
    position: absolute;
    margin-top: 70px;
    font-size: 22px;
    line-height: 24px;
}

.letra {
    margin-top: 90px;
    line-height: 20px;
    font-size: 14px;
}

.letra p {
    margin-bottom: 12px;
}

footer{
    margin: 30px 0 20px;
    font-size: 14px;
}